<div class="d-flex p-2 my-2 gap-1 border border-1 rounded flex-column">
  <% if from == 'post/show' %>
    <div><small>Post #<%= post.id %> - <%= post.title %></small></div>
    <div><%= post.text.truncate_words(200, omission: '...') %></div>
  <% else %>
    <div><small>Post #<%= post.id %> - <%= post.title %> <%= link_to 'Details', user_post_path(post.author_id, post.id), class: "badge bg-secondary link-light" %></small></div>
    <div><%= post.text.truncate_words(20, omission: '...') %></div>
  <% end %>
  <% like = post.user.likes.where(post_id: post.id).take %>
  <div class="d-flex gap-2 justify-content-end">
    <div><small class="text-muted">Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %></small></div>
    <div>
      <% if like.nil?%>
        <%= button_to "like", likes_path, params: { like: { post_id: post.id }}, class: "btn btn-primary btn-sm", method: :post %>
      <% else %>
        <%= button_to "unlike", like_path(like), class: "btn btn-primary btn-sm", method: :delete %>
      <% end %>
    </div>
  </div>
</div>
