<div class="d-flex p-2 my-2 gap-3 align-items-center border border-1 rounded">
  <div class="flex-column">
    <% if user.photo %>
      <img id="user-image" src="<%= url_for(user.photo) %>" height="150" class="img" alt="User image thumbnail">
    <% else %>
      <img id="user-image" src="<%= asset_path('avatar.jpg') %>" height="150" class="img" alt="User default avatar">
    <% end %>
  </div>
  <div class="flex-fill">
    <div class="d-flex justify-content-between">
      <div>
        <h5><%= link_to user.name, user_path(user.id), class: "link-dark" %></h5>
        <small class="text-muted"><%= user.email %></small>
      </div>
      <div>
        <p class="text-end"><small class="text-muted">Number of posts: <%= user.posts_counter || 0 %></small></p>
        <div class="text-end"><%= link_to 'New Post', new_user_post_path(user.id), class: "btn btn-primary btn-sm" %></div>
      </div>
    </div>
  </div>
</div>
